@{
	Layout = "~/Views/Shared/Bootstrap/_CollapsiblePanel.cshtml";
}


	<h3 class="chapter-title">Chapter I<span data-bind="visible: !!Title()">: </span><span data-bind="text: Title"></span></h3>

	<div class="element-group">
        <input type="text" class="form-control" placeholder="Chapter name" data-bind="value: Title, valueUpdate: 'afterkeydown'" />
        <input data-bind="element: FileInputElement" type="file" multiple="true" class="file-loading" />
		<textarea class="form-control" style="height: 75px;"></textarea>
	</div>

	<div class="pull-right-group">
		<input type="button" class="btn btn-danger" value="Cancel" />
		<input type="button" class="btn btn-warning" value="Save Draft" />
		<input type="button" class="btn btn-success" value="Publish" />
	</div>

@section expandTitle {
	<a>Start your next chapter...</a>
}

@section elementObservableName {CollapsiblePanelElement}