@model PhotoStory.ViewModels.Account.User_Register

@{
    ViewBag.Title = "Register";
}

<div class="container" style="padding-top: 20px;">

	<h3>Create a new account</h3>

	<hr />

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
		
		<table>
			<tr>
				<td>
					Email
				</td>
				<td>
					@Html.TextBoxFor(m => m.Email)
				</td>
			</tr>
			<tr>
				<td>
					Password
				</td>
				<td>
					@Html.PasswordFor(m => m.Password)
				</td>
			</tr>
		</table>

		<button type="submit" class="btn btn-primary">Register</button>
	}
</div>

