<div class="jumbotron">
	<div class="container">
		<h1>Welcome to PhotoStory!</h1>
		<p>Keep up-to-date with your friends' photos by signing in above, or registering below - it's so easy, we swear!</p>
		<p><a class="btn btn-primary btn-lg" href="@Url.Action("Register", "Account")" role="button">Register</a></p>
	</div>
</div>
