@model PhotoStory.Models.Account.User

<div class="navbar-btn btn-group navbar-right">
	<a href="@Url.Action("Index", "Story")" class="btn btn-primary"><img class="profile-image navbar-profile-image" src="@Url.Content(Model.ProfileImageUrl)" /><span> @Model.UserName</span></a>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#">Account</a></li>
		<li class="divider"></li>
		<li><a href="@Url.Action("Logout", "Account")">Log out</a></li>
	</ul>
</div>